html {
    font-size: 100%;
    background: url(images/background.jpg) no-repeat center fixed;
    -webkit-background-size: cover;
    -moz-background-size: cover;
    -o-background-size: cover;
    background-size: cover;
}

.form-4 {
    width: 25rem;
    margin: 4rem auto 4rem;
    padding: 0.5rem;
    position: relative;
    text-align: center;
    font-family: "Montserrat ExtraLight", sans-serif;
    color: rgb(240, 240, 240);
}

.form-4 #title {
    font-size: 4rem;
    text-align: center;
    margin: 0;
    cursor: default;
}

.form-4 input, .form-4 select, .form-4 textarea {
    width: 23.75rem;
    height: 1.5rem;
    margin-top: 2rem;
    padding: 0.5rem 0 0.5rem 10px;
    border: 1px solid #1690C3;
    border-radius: 0.25rem;
    background: rgba(0, 0, 0, 0.15);
    color: rgb(240, 240, 240);
    font-family: "Montserrat Light", sans-serif;
    font-size: 1rem;
    -webkit-transition: all 0.3s ease-out;
    -moz-transition: all 0.3s ease-out;
    -ms-transition: all 0.3s ease-out;
    -o-transition: all 0.3s ease-out;
    transition: all 0.3s ease-out;
}

.form-4 input[type=submit] {
    width: 24.5rem;
    height: 2.625rem;
    padding: 0.5rem 0 0.5rem;
    border: 1px solid rgb(240, 240, 240);
    background: #1690C3;
    cursor: pointer;
}

.form-4 input[type=date], .form-4 input[type=time], .form-4 input[type=number] {
    width: 10.5rem ;
}

.form-4 select {
    width: 11.25rem ;
    height: 2.625rem;
    margin-right: 27px;
}

.form-4 textarea {
    height: 4.5rem;
    resize: none;
}

.form-4 input:nth-child(4) {
    margin-right: 27px;
}

.form-4 input::-webkit-input-placeholder {
    color: rgb(240, 240, 240);
}

.form-4 input:-moz-placeholder {
    color: rgb(240, 240, 240);
}

.form-4 input:-ms-input-placeholder {
    color: rgb(240, 240, 240);
}

.form-4 textarea::-webkit-input-placeholder {
    color: rgb(240, 240, 240);
}

.form-4 input:hover, .form-4 select:hover, .form-4 textarea:hover {
    border-color: rgb(240, 240, 240);
}

.form-4 input[type=submit]:hover {
    background: rgba(0, 0, 0, 0.15);
}

.form-4 input:focus, .form-4 select:focus, .form-4 textarea:focus, .form-4 input[type=submit]:focus {
    background: #1690C3;
    outline: none;
}

@media only screen and (max-width: 540px) {
    html {
        background: url(images/backgroundmobile.jpg) no-repeat center center fixed;
        -webkit-background-size: cover;
        -moz-background-size: cover;
        -o-background-size: cover;
        background-size: cover;
    }
    .form-4 #title {
        font-size: 3rem;
    }

    .form-4 {
        /* Size and position */
        width: 18rem;
    }

    .form-4 input, .form-4 select, .form-4 textarea {
        width: 17.25rem;
        margin-top: 1rem;
    }

    .form-4 input[type=submit] {
        width: 17.875rem;
    }

    .form-4 input[type=date],.form-4 input[type=time], .form-4 input[type=number] {
        width: 7.75rem;
    }

    .form-4 select {
        width: 8.5rem;
        margin-right: 11px;
    }

    .form-4 input:nth-child(4) {
        margin-right: 11px;
    }
}